= render "shared/errors", resource: question
= form_with model: question, data: {form_id: question.id}, local: false do |form|
  = form.text_field :title, placeholder: true, class: 'form-control mb-2'
  = form.text_area :body, placeholder: true, class: 'form-control mb-2'
  = form.file_field :files, placeholder: true, multiple: true, direct_upload: true
  = form.submit class: "btn btn-success"
