.answer.mb-2{ "data-answer-id": "#{answer.id}", "data-user-id": "#{answer.user.id}", class: ("best-answer" if answer.best?) }
  %div{class: "answer-body #{answer.id}"}
    = render "shared/voting", resource: answer, current_user: current_user
    .answer-text
      =answer.body
  -if answer.files.attached?
    = render "shared/files", resource: answer, current_user: current_user
  -if answer.links.any?
    = render "shared/links", resource: answer, current_user: current_user
