.answer.mb-2{ "data-answer-id": "#{answer.id}", "data-user-id": "#{answer.user.id}", class: ("best-answer" if answer.best?) }
  %div{class: "answer-body #{answer.id}"}
    = render "shared/voting", resource: answer, current_user: current_user
    .answer-text
      =answer.body
  -if answer.files.attached?
    .files{ "data-files-id": "#{answer.id}" }
      Files:
      -answer.files.each do |file|
        .file{ "data-file-id": "#{file.id}" }
          =link_to file.filename.to_s, url_for(file)
  -if answer.links.any?
    .links{ "data-links-id": "#{answer.id}" }
      Links:
      -answer.links.each do |link|
        .link{ "data-link-id": "#{link.id}" }
          =link_to link.name, link.url
  %h5 Comments
  .answer-comments
    = render answer.comments.order_by_dt
    =link_to 'Leave your comment', new_answer_comment_path(answer), remote: true, data: {link_id: answer.id}, class: 'answer-comment'
