.answer.mb-2{ "data-answer-id": "#{answer.id}", "data-user-id": "#{answer.user.id}", class: ("best-answer" if answer.best?) }
  %div{class: "answer-body #{answer.id}"}
    = render "shared/voting", resource: answer, current_user: current_user
    .answer-text
      =answer.body
  -if answer.files.attached?
    = render "shared/files", resource: answer, current_user: current_user
  -if answer.links.any?
    = render "shared/links", resource: answer, current_user: current_user
  %h5 Comments
  .answer-comments
    = render answer.comments.order_by_dt
  %h6 Leave your comment
  = render 'comments/form', resource: answer, comment: comment
